.jumbotron{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    background-color: lightblue;
}

.card {
 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),
                0 6px 20px 0 rgba(0,0,0,0.39);
    background: lightblue;
    margin-bottom : 5%;
    margin-left: 10%;
    border-radius: 10px;
    padding : 2%;
    /* overflow: auto; */
    resize: both;
    text-overflow: ellipsis; 
}
.card:hover{
    background: lightskyblue;
  }

h1{
    /* background-color:lightcoral; */
    color: black;
}

.actions{
    margin-left: 40%;
}